header{
    .color-barra{
        background-color: rgb(12, 40, 77);
    }
    .color-letra-barra{
        color: rgb(221, 198, 198);
    }
    .mi-boton{
        background-color: rgba(255, 255, 255, 0.884);
    }
}