$colores:(
    negro-c: black,
    coral-c: coral,
    azul-li: rgb(52, 24, 151),
    naranja-claro: rgb(204, 79, 30),
    naranja-c: rgb(245, 75, 8)
);
$coloresboton:(
    celeste-c: rgb(41, 139, 172),
    lila-c: rgb(68, 17, 150),
    blanco-c: rgb(255, 255, 255),
);
$coloresheader:(
    azul-c: rgb(12, 40, 77),
    blanco-raro: rgb(221, 198, 198),
)