body{
    background-image: linear-gradient(to top left, grey, white);
    h1{
        color: map-get($colores, negro-c) ;
    }
    h2{
        color: coral;
    }
    h3{
        color: black;
    }
    ul li{
        color: rgb(52, 24, 151);
    }
    .sub{
        color: rgb(204, 79, 30);
    }
    .festivales{
        color: rgb(245, 75, 8);
    }
    .tipografia-links{
        font-size: x-large;
    }
    .boton-compra{
        background-color: rgb(41, 139, 172);
        border-color: rgb(68, 17, 150);
        color: rgb(255, 255, 255);
    }
    .descripcion{
        font-family: 'Montserrat', sans-serif;
    }
    .espaciar{
        line-height: 2.5;
        letter-spacing: 0.2vw
    }
}