body{
    background-image: linear-gradient(to top left, grey, white);
    h1{
        color: map-get($colores, negro-c);
    }
    h2{
        color: map-get($colores, coral-c);
    }
    h3{
        color: map-get($colores, negro-c);
    }
    ul li{
        color: map-get($colores, azul-li);
    }
    .sub{
        color: map-get($colores, naranja-claro);
    }
    .festivales{
        color: map-get($colores, naranja-c);
    }
    .tipografia-links{
        font-size: x-large;
    }
    .boton-compra{
        background-color: map-get($coloresboton, celeste-c);
        border-color: map-get($coloresboton, lila-c);
        color: rgb(255, 255, 255);
        transition: all 1.5s;
    }
    .boton-compra:hover{
        transform: scale(1.2);
    }
    .descripcion{
        font-family: 'Montserrat', sans-serif;
    }
    .espaciar{
        line-height: 2.5;
        letter-spacing: 0.2vw
    }
    .padding-body{
        padding: $mi-padding;
    }
}