header{
    .color-barra{
        background-color: map-get($coloresheader, azul-c);
    }
    .color-letra-barra{
        color: map-get($coloresheader, blanco-raro);
    }
    .mi-boton{
        background-color: map-get($coloresboton, blanco-c);
    }
}