    .img2{
        width: 500px;
        height: 650px;
    }
    .img3{
        width: 500px;
        height: 400px;
    }
    .img4{
        width: 500px;
        height: 650px;
    }
    .img5{
        width: 500px;
        height: 650px;
    }
    .img6{
        width: 500px;
        height: 400px;
    }
    .img7{
        width: 500px;
        height: 600px;
    }
    .img8{
        width: 500px;
        height: 600px;
    }
